@import '../../../styles/vars.scss';

.slide__item {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .slide__item__container {
    width: 80%;
    height: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    .slide__item__title {
      font-size: 45px;
      font-weight: 400;
    }

    .slide__item__descrition {
      max-width: 50%;
      text-align: left;
      font-size: 20px;
      font-weight: 200;
      line-height: 30px;
    }

    .slide__item__price {
      display: flex;
      align-items: center;
      margin-right: 10px;

      &--little {
        font-size: 20px;
      }

      &--bigger{
        font-size: 45px;
        margin-left: 5px;
      }

      &__button {
        margin: 0px 30px;
      }
    }
  }
}
@media screen and (max-width: $breakOn1200) {
  .slide__item {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1000px) {
  .slide__item__container {
    align-items: center !important;

    .slide__item__descrition {
      // display: none;
      font-size: 12px;
      text-align: center !important;
    }
    // justify-content: space-around !important;
  }
}

@media screen and (max-width: 800px) {
  .slide__item__descrition {
    display: none;
  }
}
