@import '../../../styles/mixins';

.custom-bottom {
  background-color: red;
  padding: 10px 20px;
  height: fit-content;
  border-radius: 6px;
  @include gradient;
  a {
    text-decoration: none;
    color: white;
  }
}